# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.venv/

# Configurações locais
.env

# Arquivos temporários
*.log
*.tmp
*.bak

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar o arquivo do Power BI
*.pbix

# Ignorar notebook checkpoints
.ipynb_checkpoints/